#project {
    margin-top: 2em;
    padding: 2em;

    .project-detail {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 4em;

        .project-detail__banner {
            width: 100%;
            position: relative;

            display: flex;
            flex-flow: column;
            gap: 1em;

            height: 20vh;


            .project-detail__banner__img {
                width: 100vw;
                top: 0;
                left: -2em;
                position: absolute;

                object-fit: cover;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100%;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--main-color)); // ajusta colores
                    z-index: 1;
                    pointer-events: none;
                }

                img {
                    max-height: 40vh;
                    object-fit: cover;
                }
            }
        }

        .project-detail__content {
            margin-top: 20vh;

            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 4em;

            .project-detail__info {
                width: 100%;

                position: relative;
                z-index: 2;
                color: var(--text-color);

                display: flex;
                flex-flow: column;
                gap: 0;

                h1 {
                    font-size: 8rem;
                    line-height: 1;
                    font-weight: 600;
                    font-family: var(--title-font);
                }

                p {
                    font-size: 1.8rem;
                    line-height: 1;
                    font-weight: 600;
                    font-family: var(--title-font);
                }

                ;
            }

            .main-text {
                width: 100%;
                max-width: 1200px;
            }

            .project-detail__part1 {
                display: flex;
                flex-flow: column;
                gap: 1em;
            }

            img,
            video {
                width: 100%;
                max-width: 1500px;
            }

            .project-detail__tools {
                color: var(--items-color);
                font-size: 1rem;
            }
        }
    }
}



@media (min-width: 1280px) {
    #project {
        padding: 2em 5%;

        .project-detail {
            .project-detail__banner {
                .project-detail__banner__img {
                    left: -5%;
                }
            }

            .project-detail__content {
                .project-detail__part1 {
                    flex-flow: row;
                    align-items: center;
                    gap: 2em;

                    .project-detail__text1 {
                        max-width: 30%;
                    }
                }
            }
        }
    }
}