#portfolio {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 2em;
    padding: 2em 10%;

    .portfolio-cards {
        width: 100%;
        display: flex;
        flex-flow: column;
        gap: 2em;

        .portfolio-card {
            width: 100%;
            display: flex;
            flex-flow: row;
            gap: 1em;

            padding: 2em;
            border: 1px solid var(--text-color);
            border-radius: 1em;

            transition: all .3s ease;

            cursor: pointer;

            .portfolio-card__text {
                display: none;
            }
        }

        .portfolio-card:hover {
            border-radius: .5em;
            scale: 1.1;
        }
    }
}