#main-info {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5em;
    padding: 2em 5%;

    .main-info__details {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 2em;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;

            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--main-color)),
                url("/img/tarjetas-visita.png");
            background-size: cover;
            background-position: start;
            background-repeat: no-repeat;

            z-index: -1;
        }

        .main-info__title {
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            .main-info__title-name {
                font-size: 2rem;

                font-family: var(--title-font);
            }

            .main-info__title-work p {
                font-size: 5rem;
                line-height: 1;

                font-family: var(--title-font);
            }
        }

        .main-info__first-text {
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            gap: 1em;

            text-align: right;
        }
    }

    .main-info__biography {
        .main-info__biography-text {
            display: flex;
            flex-flow: column;
            gap: 1em;
        }
    }

    .main-info__biography img {
        display: none;
    }
}






@media (min-width: 1280px) {
    #main-info {
        .main-info__details {
            height: 85vh;
            flex-flow: row;
            align-items: flex-end;
            justify-content: space-between;

            .main-info__title {
                .main-info__title-name {
                    font-size: 4rem;
                }

                .main-info__title-work p {
                    font-size: 8rem;
                }
            }

            .main-info__first-text {
                max-width: 500px;
            }
        }

        .main-info__biography {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            height: 100vh;

            position: relative;

            .main-info__biography-text {
                max-width: 1000px;
            }
        }

        .main-info__biography img {
            display: flex;
            max-width: 600px;
            filter: brightness(0);
        }
    }



}