#main-info {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5em;
    padding: 2em 10%;

    .main-info__details {
        width: 100%;
        padding-top: 40vh;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2em;

        .main-info__title {
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            .main-info__title-work {
                font-size: 5rem;
                line-height: 1;
            }
        }

        .main-info__first-text {
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            gap: 1em;

            text-align: right;
        }
    }

    .main-info__biography {
        display: flex;
        flex-flow: row;
        gap: 1em;

        img {
            width: 100%;
            max-width: 200px;
            object-fit: contain;
        }

        .main-info__biography-text {
            display: flex;
            flex-flow: column;
            gap: 1em;
        }
    }
}