header {
    width: 100%;
    overflow: hidden;
    padding: .5em 2em;
    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--main-color);

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    font-family: var(--title-font);

    z-index: 1000;

    .header__title {
        display: flex;
        flex-flow: row;
        gap: 2em;
    }

    .header__subtitle {
        display: none;
    }
}

header p,
header li {
    font-family: var(--title-font);
    font-size: 2rem;
}

header li {
    cursor: pointer;
}


/* TOGGLE MENU */
.slide-menu {
    position: fixed;
    top: 0;
    left: -12em;
    width: 12em;
    height: 100vh;

    background-color: var(--main-color);

    transition: left 0.3s ease-in-out;

    z-index: 1050;

    padding: 2em 1em;

    /* BURGER BUTTON */
    .burger-toggle {
        position: fixed;
        top: 3em;
        left: 0em;
        z-index: 1100;

        background-color: var(--main-color);
        color: var(--text-color);

        border-radius: 0 .5em .5em 0;
        width: 1.8em;
        height: 3em;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;

        transition: all .3s ease;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    li {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.slide-menu.open {
    left: 0;

    .burger-toggle {
        left: 8em; // TODO REVISAR ANIMACION
    }
}