footer {
    width: 100%;
    padding: 2em 10%;
    margin-top: 4em;

    display: flex;
    flex-flow: column;
    gap: 8em;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--items-color));

    .languages {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        gap: 1em;

        .languages__items {
            width: 80%;

            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            gap: 1em;
        }
    }

    .footer__shop {
        display: flex;
        flex-flow: column;
        gap: 1em;
        max-width: 80%;
    }

    .footer__contact {
        display: flex;
        flex-flow: row;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
}

.footer-button {
    padding: .5em 1.2em;
    text-decoration: none;
    display: flex;
    flex-flow: row;
    gap: .5em;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    border: 1px solid;
    border-radius: 40px;

    font-family: var(--title-font);
    font-size: 1.8rem;
    font-weight: 600;

    width: fit-content;
    cursor: pointer;

    transition: all .3s ease;

}

.footer-button:hover {
    border-radius: 10px;
    color: var(--main-color);
}






@media (max-width: 768px) {
    footer {
        .languages {
            align-items: center;

            .languages__items {
                width: 100%;
                justify-content: center;
            }
        }

        .footer__shop {
            max-width: 100%;
        }
    }
}