@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--main-font);
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

body {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  font-size: var(--main-size);
  font-weight: var(--main-weight);
  font-family: var(--main-font);

  color: var(--main-color);
}


/* END RESET */


:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #1E1E1E;

  --text-color: white;

  --main-font: 'Lato', sans-serif;
  --title-font: 'Bebas Neue', sans-serif;
  --main-weight: 400;
  --main-size: 1.125rem;
}

#theme-toggle {
  position: fixed;
  bottom: 1em;
  left: 1em;
  padding: 1em;

  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);

  cursor: pointer;
  transition: all .3s ease;
}

body.light-theme {
  --main-color: #FEF9F3;
  --searchbar-color: #ebebebbb;
  --button-color: #FF956D;
  --items-color: #ffe0d9;
  --input-color: #ffe0d9;
  --text-color: #3E3E3E;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: var(--title-font);
  line-height: 1;
}

h2 {
  font-size: 3rem;
  font-weight: var(--main-weight);
}

h3 {
  font-size: 2.4rem;
  font-weight: var(--main-weight);
}

#home, #portfolio, #contact {
  margin-top: 4em;
}


.button {
  padding: .5em 1.2em;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  gap: .5em;
  justify-content: center;
  align-items: center;

  color: var(--text-color);
  border: 1px solid;
  border-radius: 40px;

  font-family: var(--title-font);
  font-size: 1.8rem;
  font-weight: 600;

  width: fit-content;

  transition: all .3s ease;

}

.button:hover {
  border-radius: 10px;
  scale: 1.1;
}